* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.id-card-container {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.id-card {
    width: 700px;  /* Lebar ID Card sesuai dengan ukuran canvas */
    height: 350px; /* Tinggi ID Card sesuai dengan ukuran canvas */
    background-image: url(bgidcard.jpg);
    background-size: cover; /* Pastikan gambar latar belakang mengisi area dengan benar */
    background-position: center;
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.id-card h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
}

.id-card p {
    margin: 10px 0;
    font-size: 18px;
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

